<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my_pixel_challenge</title>

    <!--Socket.IO-->
    <script src="socket.io/socket.io.js"></script>
    <!--jQuery-->
    <script src="js/lib/jquery/dist/jquery.js"></script>
    <!--randomColor-->
    <script src="js/lib/randomcolor/randomColor.js"></script>
    <!--my-pixel-chalenge-->
    <script src="/js/app/my-pixel-challenge.js"></script>

    <!--Own CSS Sheet-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <h1>my_pixel_challenge</h1>
        <div id="mpc_holder">
        </div>
    </div>
</body>
</html>