.main-wrapper {
    margin: 0 auto;
}

h1 {
    text-align: center
}

#mpc_holder {
    display: block;
    margin: 0 auto;
    border: 3px solid red;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center center;
}

.grid-row {
    height: 30px;
    line-height: 30px;
}

.grid-cell {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

#reset_holder {
    text-align: center;
    margin: 10px;
}

footer {
    margin-top: 15px;
    text-align: center;
}
